* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    background: #f8e5a6;
    text-align: center;
  }

  
  .v {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
  }

  .v1, .v2 {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
  }

  .but {
    background-color: rgb(198, 222, 241);
    color:black;
    padding: 10px 20px;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
    margin: 8px 2px;
    cursor: pointer;
    text-align: center;
    box-shadow: rgba(68, 95, 131, 0.205);
  }

  p {
    text-align: left;
  }

  span {
    display: none;
    font-size: 40px;
    font-weight: bold;
  }

  .hide {
    display: none;
  }
  .show {
    display: block;
  }